
<button type="submit" class="btn btn-primary" ng-click="new()">New</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Url
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="blog in Blogs" ng-click="detail(blog.Id)">
            <td>
                {{blog.Name}}
            </td>
            <td>
                {{blog.Url}}
            </td>
        </tr>
    </tbody>
</table>
