<form id="formGroup">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-model="Blog.Name">
  </div>
    <div class="form-group">
        <label for="url">Url</label>
        <input type="text" class="form-control" id="url" name="url" placeholder="Url" ng-model="Blog.Url">
    </div>
	<button type="submit" class="btn btn-primary">Save</button>
	<button type="submit" class="btn btn-danger">Delete</button>
	<button type="submit" class="btn btn-default" ng-click="close()">Close</button>
</form>
