
.navbar-default {
    background-color: #CB002B;
}

.navbar-default .navbar-brand {
    color: white;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: white;
    background-color: #cb002b;
}
